<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.humanitypreservationfoundation.pulse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CategoryResourcesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivityPST"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivityMT"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivityWNC"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivityWSC"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivityENC"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivityESC"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivityMA"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivitySA"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivityNE"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllResourcesActivityALL"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MapActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>